* {
  margin: 0;
  padding: 0;
}

.flex_end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main_container {
  background: darkgray;
  width: 100vw;
  height: 88vh;
}

.magnitol {
  border: black 2px solid;
  border-radius: 15px;
  background: lightslategray;
}

.control_panel {
  border: red 2px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control_btn {
  width: 25px;
  height: auto;
}